<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>employeeForm.html</title>
<script
	src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
</head>
<body>
	직원등록 페이지입니다.
	<br />
	<form action="employeeRegist" method="post"
		th:object="${employeeCommand}">
		<table border=1>
			<tr>
				<th>직원번호</th>
				<td><input type="text" name="empNum"
					th:value="${employeeCommand.empNum }" readonly="readonly" />자동부여</td>
			</tr>
			<tr>
				<th>직원이름</th>
				<td><input type="text" name="empName"
					th:value="${employeeCommand.empName}" /></td>
			</tr>
			<tr>
				<th>직원아이디</th>
				<td><input type="text" name="empId" id="userId"
					th:value="${employeeCommand.empId }" /><span id="idCheck"></span><span
					style="color: red" th:if="${#fields.hasErrors('empId')}"
					th:errors="*{empId}" id="frm"></span></td>
			</tr>
			<tr>
				<th>직원비밀번호</th>
				<td><input type="password" name="empPw" /> <span
					style="color: red" th:if="${#fields.hasErrors('empPw')}"
					th:errors="*{empPw}"></span><br /></td>
			</tr>
			<tr>
				<th>직원비밀번호확인</th>
				<td><input type="password" name="empPwCon" /> <span
					style="color: red" th:if="${#fields.hasErrors('empPwCon')}"
					th:errors="*{empPwCon}"></span></td>
			</tr>
			<tr>
				<th>직원주소</th>
				<td><input type="text" name="empAddr" id="sample4_roadAddress"
					th:value="${employeeCommand.empAddr }" readonly="readonly" />
					<button type="button" onclick="execDaumPostcode();">우편번호검색</button>
					<span style="color: red" th:if="${#fields.hasErrors('empAddr')}"
					th:errors="*{empAddr}"></span></td>
			</tr>
			<tr>
				<th>직원상세주소</th>
				<td><input type="text" name="empAddrDetail" 
				th:value="${employeeCommand.empAddrDetail}"/></td>
			</tr>
			<tr>
				<th>직원우편번호</th>
				<td><input type="text" name="empPost" id="sample4_postcode" 
				th:value="${employeeCommand.empPost}" readonly="readonly"/></td>
			</tr>
			<tr>
				<th>직원연락처</th>
				<td><input type="text" name="empPhone" 
				th:value="${employeeCommand.empPhone}"/> <span
					style="color: red" th:if="${#fields.hasErrors('empPhone')}"
					th:errors="*{empPhone}"></span></td>
			</tr>
			<tr>
				<th>직원주민번호</th>
				<td><input type="text" name="empJumin" th:value="${employeeCommand.empJumin}"/> <span
					style="color: red" th:if="${#fields.hasErrors('empJumin')}"
					th:errors="*{empJumin}"></span></td>
			</tr>
			<tr>
				<th>직원이메일</th>
				<td><input type="email" name="empEmail" id="userEamil" th:value="${employeeCommand.empEmail}"/><span
					id="emialCheck"></span></td>
			</tr>
			<tr>
				<th>직원입사일</th>
				<td><input type="date" name="empHireDate"/></td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="직원 등록"></th>
			</tr>
		</table>
	</form>
</body>
</html>