<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
	hello miso shopping
	<ul>
		<li><a href="member/memberList">memberList</a></li> <!-- 확장자 대신 앞에 경로추가 -->
		<li><a href="employee/employeeList">employeeList</a></li>
	</ul>
	<table border="1" align="center">
		<tr><td colspan="2">자동로그인 | 아이디저장</td></tr>
		<tr><td>1</td><td>2</td></tr>
		<tr><td>3</td><td></td></tr>
		<tr><td colspan="2">아이디 / 비밀번호 찾기 |
		<a href="/register/userAgree">회원가입</a></td></tr>
	</table>
</body>
</html>