<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
	<h2 align="center">hello miso shopping</h2>
	<div th:if="${session.auth != null}">
	<ul>
		<li><a href="member/memberList">memberList</a></li> <!-- 확장자 대신 앞에 경로추가 -->
		<li><a href="employee/employeeList">employeeList</a></li>
		<li><a href="/login/logout">logout</a></li>
	</ul>
	</div>
	<div th:if="${session.auth == null}">
	<form action="/login/login" method="post" th:object="${loginCommand}">
	<table border="1" align="center">
		<tr><td colspan="2">자동로그인 | 아이디저장</td></tr>
		<tr><td>아이디 : <input type="text" name="userId" th:value="${loginCommand.userId}">
			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span></td>
			<td rowspan="2"><input type="image" src="/static/images/뉴진스토끼.gif" width="80"/></td></tr>
		<tr><td>비밀번호 : <input type="password" name="userPw">
			<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span></td></tr>
		<tr><td colspan="2">아이디 / 비밀번호 찾기 |
		<a href="/register/userAgree">회원가입</a></td></tr>
	</table>
	</form>
	</div>
	<img src="/static/images/KakaoTalk_20241021_143827396_04.gif" width="150">
	<img src="/static/images/KakaoTalk_20241021_142604816_01.gif" width="150">
	<img src="/static/images/KakaoTalk_20241021_143827396_03.gif" width="150">
</body>
</html>