<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
상세보기 <br>
<form action="boardModify" method="post">
글번호 : <input type="text" name="boardNum" th:value="${dto.boardNum }" readonly="readonly" /><br>
글쓴이 : <input type="text" name="boardWriter" th:value="${dto.boardWriter }" /><br>
제목 : <input type="text" name="boardSubject" th:value="${dto.boardSubject }" /><br>
내용 : <textarea rows="5" cols="30" name="boardContent">[[${dto.boardContent }]]</textarea><br>
<input type="submit" value="수정할래">
</form>
</body>
</html>